{{#each this}}
  <div class='film-card' id='{{id}}'>
    <img src='https://image.tmdb.org/t/p/w500/{{poster_path}}' alt='{{title}}' />

    <div class='description'>
      <span class='description-item'>
        {{title}}
      </span>
      <span class='description-item'>
        #
      </span>
    </div>
  </div>
{{/each}}