.vote-item {
    display: flex;
    position: relative;
    background-color: $orange-color;
    width: 36px;
    height: 16px;
    border-radius: 5px;
    padding-left: 10px;
  }
  .vote-item {
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: center;
  
    color: $white-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
  }